{% extends 'base.html' %}

{% block post %}
     <table class="table table-bordered">
        <tr class="warning">
            <th></th>
            <th>BUG名称</th>
            <th>BUG详情</th>
            <th>BUG状态</th>
            <th>BUG等级</th>
            <th>BUG创建人</th>
            <th>BUG分配</th>
            <th>创建时间</th>
            <th></th>


        </tr>

        {% for b in bug %}
            <tr class="info">
                <td></td>
                <td>{{ b.bug_name }}</td>
                <td>{{ b.bug_detail }}</td>
                <td>{{ b.bug_status }}</td>
                <td>{{ b.bug_level }}</td>
                <td>{{ b.bug_creater }}</td>
                <td>{{ b.bug_assign }}</td>
                <td>{{ b.create_time }}</td>
                <td></td>
            </tr>

        {% endfor %}
    </table>
{% endblock %}