{% extends 'base.html' %}


{% block sidebar %}
    <li id="nav_list"><a href="{% url 'pro_set:set' %}">产品设置</a></li>

{% endblock %}

{% block post %}
    <h2>系统设置</h2>
    <table class="table table-bordered">
        <tr class="warning">
            <th>ID</th>
            <th>系统名称</th>
            <th>设置值</th>
            <th></th>

        </tr>

        {% for s in set %}
            <tr class="info">
                <td>{{ s.id }}</td>
                <td>{{ s.set_name }}</td>
                <td>{{ s.set_value }}</td>
                <td></td>
            </tr>

        {% endfor %}
    </table>
    <hr><br><br>

    <h2>用户</h2>
     <table class="table table-bordered">
        <tr class="warning">
            <th>ID</th>
            <th>用户名</th>
            <th>邮件</th>
            <th>注册日期</th>
            <th></th>

        </tr>

        {% for u in user %}
            <tr class="info">
                <td>{{ u.id }}</td>
                <td>{{ u.username }}</td>
                <td>{{ u.email }}</td>
                <td>{{ u.add_time }}</td>
                <td></td>
            </tr>

        {% endfor %}
    </table>

{% endblock %}
