{% extends 'base.html' %}


<h2>{{ appcase.product.set }}</h2>
{% block post %}
     <table class="table table-bordered">
        <tr class="warning">
            <th>用例名称</th>
            <th>测试结果</th>
            <th>测试人</th>
            <th>创建时间</th>
            <th></th>


        </tr>

        {% for app in appcase %}
            <tr class="info">
                <td></td>
                <td>{{ app.app_case_name }}</td>
                <td>{{ app.app_case_result }}</td>
                <td>{{ app.app_tester }}</td>
                <td>{{ app.create_time }}</td>
                <td></td>
            </tr>

        {% endfor %}
    </table>
{% endblock %}