{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    貓眼實時票房
{% endblock %}

{% block post %}


    <table class="table ">
        <tr class="thead-dark">
            <th scope="col">電影名</th>
            <th scope="col">票房</th>
            <th scope="col">上映天数</th>
            <th scope="col">票房占比</th>
            <th scope="col">排片場次</th>
            <th scope="col">人均场次</th>
            <th scope="col">上座率</th>

        </tr>

        {% for foo in cat %}
            <tr >
                <td>{{ foo.movieName }}</td>
                <td>{{ foo.sumBoxInfo }}</td>
                <td>{{ foo.releaseInfo }}</td>
                <td>{{ foo.boxInfo }}</td>
                <td>{{ foo.boxRate }}</td>
                <td>{{ foo.avgShowView }}</td>
                <td>{{ foo.avgSeatView }}</td>
            </tr>

        {% endfor %}

    </table>

    <br><br>
    {{ pie|safe }}



{% endblock %}